.container {
    width: fit-content;
    margin: 1em auto;
    display: flex;
    gap: 1em;
    padding: 0.2em 0.3em;
    align-items: center;
    border-radius: 50px;
    background-color: var(--them-secondary-color);
    border: 1px solid var(--border-color);
}

.container button {
    background-color: transparent;
    background-color: #fff;
    color: var(--them-primary-color);
    padding: 0.4em 1em;
    border-radius: 50px;
    transition: all 0.3s;
}
.container button:last-child {
    background-color: var(--them-primary-color);
    color: #fff;
}

.container p {
    font-size: 1rem;
}

@media (min-width: 700px) {
    .container button:hover {
        opacity: 0.8;
        transform: scale(0.95);
        cursor: pointer;
    }
}
