.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 2.6em 0;
}

.container p,
.container button,
.container div {
    width: 2.3em;
    height: 2.3em;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    font-weight: normal;
    font-size: 1rem;
}

.container p,
.container button {
    background-color: var(--them-secondary-color);
}

.container button:last-child,
.container button:first-child {
    width: 3.6em;
}

.selected {
    background-color: var(--them-primary-color);
    color: #fff;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

@media (min-width: 700px) {
    .container button {
        cursor: pointer;
    }
    .container p,
    .container div {
        cursor: default;
    }
}
