.container {
    background-color: var(--them-secondary-color);
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 0.5em;
    border-radius: 15px;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 1em;
}

.info img {
    width: 2em;
    border-radius: 50%;
}

.info div p:last-child {
    font-size: 0.7rem;
    color: var(--text-secondary-color);
}

.price {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1em;
}
.price p {
    font-size: 0.8rem;
}

.increase {
    color: var(--green-color);
}
.decrease {
    color: var(--red-color);
}

@media (min-width: 500px) {
    .container {
        cursor: pointer;
    }
}
