.addBtn {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: dodgerblue;
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: #fff;
    font-weight: bold;
    font-style: 2rem;
}

.contactsContainer {
    padding: 0 0.5em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.clearBtn {
    background-color: #ff000014;
    color: red;
    padding: 0.5em;
    border-radius: 10px;
}
