.container {
    border-radius: 10px;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    border: 1px solid #ebebeb;
    margin-bottom: 0.7em;
}

.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: #ebebeb;
    color: #626262;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.3em;
}
.txt {
    opacity: 0.5;
    font-size: smaller;
}
