.backgroumd {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: end;
    justify-content: center;

    /* از https://css.glass */
    background: #ffffff00;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.conainer {
    width: 100%;
    max-width: 600px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 0.5em;
    border-radius: 15px;
    animation: show 0.3s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    .backgroumd {
        align-items: center;
    }
}
