.backPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
}

.container {
    position: relative;
    z-index: 2;
}
.container input {
    height: 100%;
    width: 95%;
    background-color: transparent;
    padding: 1em;
}

.nav {
    display: flex;
    gap: 0.5em;
    height: fit-content;
    margin: 1.2em 0;
}
.searchInp {
    background-color: var(--them-secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    width: 100%;
}
.nav select {
    background-color: var(--them-secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0.5em;
    appearance: none;
    width: 3.5em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1em;
    color: var(--text-color);
}

.saerchResult {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: scroll;
    position: absolute;
    top: 55px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    /* From https://css.glass */
    background: #ffffff00;
    border-radius: 16px;
    box-shadow: 4px 7px 10px #00000016;
    backdrop-filter: blur(18.6px);
    -webkit-backdrop-filter: blur(18.6px);
    border: 1px solid var(--border-color);
}

.responseItm {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    transition: all 0.3s;
}
.responseItm img {
    border-radius: 50%;
    background-color: #fff;
    width: 1.3em;
}

@media (min-width: 500px) {
    .responseItm {
        cursor: pointer;
    }
    .responseItm:hover {
        transform: scale(0.996);
        opacity: 0.7;
    }
}

@media (min-width: 700px) {
    .container {
        max-width: 400px;
    }
}
