.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    height: 100%;
}
.container img {
    width: 80px;
    margin-bottom: 1em;
    opacity: 0.8;
}

.container h1 {
    margin-bottom: 6px;
    font-size: 1.5rem;
}

.container p {
    margin-bottom: 1em;
    font-size: 0.9rem;
}

.container button {
    background-color: transparent;
    color: var(--them-primary-color);
    transition: all 0.3s;
}

@media (min-width: 700px) {
    .container button {
        cursor: pointer;
    }
    .container button:hover {
        transform: scale(0.9);
    }
}
