:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --green-color: #2b913f;
    --red-color: #f32419;
    --background-color: #141414;
    --border-color: #313131;
    --text-primary-color: #f6f8fc;
    --text-secondary-color: #84858b;
    --them-primary-color: dodgerblue;
    --them-secondary-color: #1c1c21;

    /* --background-color: #fafafa;
    --border-color: #dddddd;
    --text-primary-color: #2d2d2d;
    --text-secondary-color: #a4a4a4;
    --them-primary-color: dodgerblue;
    --them-secondary-color: #f1f1f1; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: var(--text-primary-color);
}

body {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--background-color);
    padding: 1em;
}
