:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --green-color: #2b913f;
    --red-color: #f32419;
    --them-primary-color: #1e90ff;

    --background-color: #141414;
    --border-color: #313131;
    --text-primary-color: #f6f8fc;
    --text-secondary-color: #84858b;
    --them-secondary-color: #1c1c21;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-primary-color: #333333;
        --text-secondary-color: #666666;
        --border-color: #e7e7e7;
        --them-secondary-color: #fbfbfb;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: var(--text-primary-color);
}

body {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--background-color);
    padding: 1em;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.title {
    margin-left: 0.8em;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.8;
}

.priceChangeGreen {
    text-shadow: 0 0 30px var(--green-color), 0 0 0.5px #00000083;
    color: var(--green-color);
    width: fit-content;
    padding: 0.2em 0.3em;
    border-radius: 7px;
}
.priceChangeRed {
    text-shadow: 0 0 30px var(--red-color), 0 0 0.5px #00000083;
    color: var(--red-color);
    width: fit-content;
    padding: 0.2em 0.3em;
    border-radius: 7px;
}
