.info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.info img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #fff;
}

.priceInfo {
    display: flex;
    align-items: start;
    margin: 1em 0.3em;
    flex-direction: column;
}
.priceInfo div {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.4em;
}
.priceInfo p {
    font-size: 0.8rem;
}
.priceInfo p:first-child {
    font-size: 1.8rem;
}
.otherInfo {
    font-size: 0.7rem;
    font-weight: 100;
    color: var(--text-secondary-color);
    margin-bottom: 4px;
}
.otherInfo span {
    margin-right: 15px;
    color: var(--text-secondary-color);
}

/* timer range */
.timeBaseContainer {
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
    gap: 1em;
    border-top: 1px solid var(--border-color);
}
.timeButton {
    background-color: transparent;
    color: var(--text-secondary-color);
    opacity: 0.8;
}
.timeBaseContainer button {
    transition: all 0.3s;
    font-size: 1rem;
}
.timeSelected {
    background-color: transparent;
    font-weight: bold;
    color: var(--them-primary-color);
    opacity: 1;
    text-shadow: 0 0 14px var(--them-primary-color);
}

/* chart  */
.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}
.buttonsContainer button {
    background-color: var(--them-secondary-color);
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    transition: all 0.3s;
}

.seleced {
    color: var(--them-primary-color);
}

@media (min-width: 700px) {
    .buttonsContainer button:hover {
        cursor: pointer;
        background-color: var(--them-primary-color);
        color: #fff;
        transform: scale(0.95);
    }
    .timeBaseContainer button:hover {
        opacity: 1;
        cursor: pointer;
        transform: scale(1.1);
    }
}
