/* .container {} */
.info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.info img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #fff;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}
.buttonsContainer button {
    background-color: var(--them-secondary-color);
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    transition: all 0.3s;
}

.priceInfo {
    display: flex;
    align-items: start;
    margin: 1em 0.3em;
    gap: 0.5em;
    flex-direction: column;
}
.priceInfo p {
    font-size: 0.8rem;
}
.priceInfo p:first-child {
    font-size: 1.8rem;
}

.seleced {
    color: var(--them-primary-color);
}

.chartInfo {
    background-color: var(--background-color);
    color: var(--text-primary-color);
    border: 1px solid var(--border-color);
    padding: 0.8em;
    border-radius: 10px;
}

@media (min-width: 700px) {
    .buttonsContainer button:hover {
        cursor: pointer;
        background-color: var(--them-primary-color);
        color: #fff;
        transform: scale(0.95);
    }
}
